div#menu.bg-warning
  .container
    .row
      .col-lg-12.text-center
        h2 Site Menu.
        ul
          li
            a(href='/') Main Page
          li
            a(href='/gallery') Gallery
          li
            a(href='/feedback') Feedback
          li
            a(href='/interview') Interview