extend layout
block content
  include ./_menu
  #admin.container.text-center
    h1 Admin Interface

    .tokens
      for token in tokens
        .token
          .value
            |Пользователь с идентификатором:
            b= token.value
          | Посещенные страницы
          .visits-pages
            for page in token.visits_pages
             .page= page
