extend layout
block content
  include ./_menu
  #feedback.container.text-center
    h1 Feedback
    .create
      .title
        b Оставить отзыв
      form(action='/feedback' method='post')
        input(type='hidden' name='expect_capcha' value=capcha)
        textarea(name='content')= item.versions && item.versions[0].content
        .capcha= capcha
        label Капча
        input(type='text' name='capcha')
        input(type='submit')= 'Отправить'
      if error != undefined
        .error= error

    .items
      for resource in collection
        .item
          if resource.author_token == promakh.token.value
            a.edit(href='/feedback/#{resource._id}') Редактировать
          .content
            != resource.versions[0].content

