extend layout
block content
  include ./_menu
  #feedback.container.text-center
    h1 Feedback
    .create
      .title
        b Изменить отзыв
      form(action='/feedback/#{resource._id}' method='post')
        input(type='hidden' name='expect_capcha' value=capcha)
        textarea(name='content')= resource.versions[0].content
        .capcha= capcha
        label Капча
        input(type='text' name='capcha')
        input(type='submit')= 'Отправить'
      if error != undefined
        .error= error

    | Предыдущие версии
    .items
      for version in resource.versions
        .item
          .content
            != version.content

