extend layout
block content
  include ./_menu
  .container
    .text-center
      .promakh-gallery
        a(href="http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_b.jpg" title="Westfield Waterfalls - Middletown CT Lower (Graham_CS)")
          img(src="http://farm6.staticflickr.com/5471/9036958611_fa1bb7f827_m.jpg" alt="" )
        a(href="http://farm4.staticflickr.com/3824/9041440555_2175b32078_b.jpg" title="Calm Before The Storm (One Shoe Photography Ltd.)")
          img(src="http://farm4.staticflickr.com/3824/9041440555_2175b32078_m.jpg" alt="")
        a(href="http://farm3.staticflickr.com/2870/8985207189_01ea27882d_b.jpg" title="Lambs Valley (JMImagesonline.com)")
          img(src="http://farm3.staticflickr.com/2870/8985207189_01ea27882d_m.jpg" alt="")
        a(href="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_b.jpg" title="Grasmere Lake (Phil 'the link' Whittaker (gizto29))")
          img(src="http://farm4.staticflickr.com/3677/8962691008_7f489395c9_m.jpg" alt="dsd")