extend layout
block content
  table.header
    tr
      td.text-vertical-center
        .background
          h1 Promakh
          h3 Personal Site & Playground
          br
          a.btn.btn-dark.btn-lg(href="#menu") Find out more
  include ./_menu
  div#about.about
    .container
      .row
        .col-lg-12.text-center
          img(alt='avatar' src='images/GlOKebfQgTc.jpg')
          h2 Hello, my name is Alexandr.
          p.lead On this site I post information about my services and some programs.
          a(href='http://urfu.ru/') УрФУ
  div#services.services.bg-primary
    .container
      .row.text-center
        .col-lg-10.col-lg-offset-1
          h2 My Services
          hr.small
          .row
            .col-md-3.col-sm-6
              .service-item
                img(alt='minecraft' src='images/minecraft-icon.png')
                h4
                  strong Minecraft Server
                p
                  |Address: promakh.ru
                  br
                  |Port: 25565
            .col-md-3.col-sm-6
              .service-item
                img(alt='mapcrafter' style='width:126px;margin-top: -10px' src='images/3.png')
                //span.fa-stack.fa-4x
                //  i.fa.fa-circle.fa-stack-2x
                //  i.fa.fa-globe.fa-stack-1x.text-primary
                h4
                  strong Mapcrafter
                p
                  |A Google Maps-like map for Minecraft server.
                  br
                  a(href='http://mapcrafter.promakh.ru/') mapcrafter.promakh.ru
            .col-md-3.col-sm-6
              .service-item
                img(alt='starboind' src='images/starbound-icon.png')
                h4
                  strong="Starbound Server"
                p
                  |Address: promakh.ru
                  br
                  |Port: 21025
            .col-md-3.col-sm-6
              .service-item
                img(alt='stockman' style='width:110px' src='images/4.png')
                //span.fa-stack.fa-4x
                //  i.fa.fa-circle.fa-stack-2x
                //  i.fa.fa-image.fa-stack-1x.text-primary
                h4
                  strong Stockman
                p
                  | Server of load and impact of files and images. Developed by
                  a(href='http://mystand.ru/')= ' MyStand'
                  br
                  a(href='https://bitbucket.org/mystand/stockman') Learn More
