extend layout
block content
  include ./_menu
  #interview.container.text-center
    h1 Interview
    b How many sites you've written?

    .promakh-interview(data-voted=promakh.token.voted ? '1' : '0')
      ul
        li
          | zero (humanities)
          .btn.btn-success.btn-xs.vote(data-vote='1') vote
        li
          | 1 - 5 (Only homework in university)
          .btn.btn-success.btn-xs.vote(data-vote='2') vote
        li
          | 5 - 13 (Beginner)
          .btn.btn-success.btn-xs.vote(data-vote='3') vote
        li
          | 13 - 100 (Web master)
          .btn.btn-success.btn-xs.vote(data-vote='4') vote
        li
          | 100 - 10 000 (Company)
          .btn.btn-success.btn-xs.vote(data-vote='5') vote
        li
          | 10 000 - 50 000 (I have very old company)
          .btn.btn-success.btn-xs.vote(data-vote='6') vote
        li
          | 50 000 - 100 000 (Impossible! Faster than light!)
          .btn.btn-success.btn-xs.vote(data-vote='7') vote
        li
          | > 100 000 (Joomla freelancer)
          .btn.btn-success.btn-xs.vote(data-vote='8') vote



    //.progress
    //  .progress-bar(style='width:30%')
    //.progress
    //  .progress-bar(style='width:70%')
    //.progress
    //  .progress-bar(style='width:80%')
