ul
  li
    div zero (humanities)
    .progress
      .progress-bar(style=values[1])
  li
    div 1 - 5 (Only homework in university)
    .progress
      .progress-bar(style=values[2])
  li
    div 5 - 13 (Beginner)
    .progress
      .progress-bar(style=values[3])
  li
    div 13 - 100 (Web master)
    .progress
      .progress-bar(style=values[4])
  li
    div 100 - 10 000 (Company)
    .progress
      .progress-bar(style=values[5])
  li
    div 10 000 - 50 000 (I have very old company)
    .progress
      .progress-bar(style=values[6])
  li
    div 50 000 - 100 000 (Impossible! Faster than light!)
    .progress
      .progress-bar(style=values[7])
  li
    div > 100 000 (Joomla freelancer)
    .progress
      .progress-bar(style=values[8])