doctype
html
  head
    title #{title} - My Site
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    != css("index")
    != js("index")
    | <!--[if lt IE 9]>
    |  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    | <![endif]-->
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  body
    block content
    div.footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            img(src='counter.png')
            div Ваших посещений: #{promakh.token.visits_sum}
            div Ваших посещений за сегодня: #{promakh.token.visits_today}
            div Последнее посещение: #{promakh.token.last_visit}
            br
            div Ваш браузер: #{promakh.ua.Browser}
            div Версия вашего браузера: #{promakh.ua.Version}
            ul.list-unstyled
              li
                i.fa.fa-envelope-o.fa-fw
                a(href='mailto:s-promakh@ya.ru') s-promakh@ya.ru
            br
            ul.list-inline
              li
                a(href='https://www.facebook.com/proAlexandr' target='_blank')
                  img(alt='facebook' src='/images/f.png')
              li
                a(href='http://vk.com/id7219786' target='_blank')
                  img(alt='vk' src='/images/vk.png')
              li
                a(href='https://github.com/proAlexandr' target='_blank')
                  img(alt='github' src='/images/gh.png')
            hr.small
            p.text-muted Copyright © Alexandr Promakh 2014
