#feedback
  .create
    margin-bottom 40px
    textarea
      width 500px
      height 300px
      font-size 15px
    .title
      margin-bottom 10px
    .capcha
      margin-top 20px
      font-size 20px
      font-weight bold
  .items
    .item
      border 1px solid black
      padding 30px 10px
      margin-bottom 10px
      position relative
      word-wrap break-word
      a.edit
        position absolute
        top 3px
        right 3px
      img
        display block
        max-width 80%
        padding 10px
        margin auto
  .error
    color red


