.promakh-gallery
  display inline-block
  margin-top 50px
  a
    img
      height 100px

.gallery-overlay
  position: absolute;
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0,0.7)

.gallery-modal-container
  &.state-help
    .gallery-modal
      .gallery-help
        display block
      .image, .gallery-loading
        display none

  .gallery-modal
    text-align: center;
    position absolute
    top: 50px
    bottom: 50px
    left: 50px
    right: 50px


    .image
      position relative
      max-height 100%
      max-width 100%
      /*width 100%*/
      /*height 100%*/
      /*background-repeat no-repeat*/
      /*background-position center*/
      /*background-size contain*/

    .close
      position: absolute;
      top 0
      margin-left -50px
      left: 50%
      width: 100px
      text-align center
      padding 4px 0px
      background white
      cursor pointer

    .gallery-help
      display none
      width 100%
      padding 20px
      background #fff

    .gallery-loading
      color #fff
      position absolute
      display none
      width: 100px
      height: 20px
      top: 50%
      left: 50%
      margin -10px 0 0 -50px
      font-size 30px
      font-weight bold


@css {
  .gallery-modal-container .gallery-overlay {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')
  }


}