html
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif
  background-color: #f7f7f9;

#menu
  background: #f0ad4e

.text-vertical-center
  text-align: center
  vertical-align: middle
  h1
    margin: 0
    padding: 0
    font-size: 4.5em
    font-weight: 700
  .background
    margin: 0px -5px
    padding: 30px 0
    background-color rgba(0, 0, 0, 0.5)

    h1, h3
      color: #eee

/*Custom Button Styles*/

.btn-dark
  border-radius: 0
  color: #fff
  background-color rgba(0, 0, 0, 0.4)
  &:hover, &:focus, &:active
    color: #fff
    background-color: rgba(0, 0, 0, 0.7)


/* Custom Horizontal Rule*/

hr.small
  max-width: 100px

/* Side Menu*/

#sidebar-wrapper
  z-index: 1000
  position: fixed
  right: 0
  width: 250px
  height: 100%
  margin-right: -250px
  overflow-y: auto
  background: #222
  /*-webkit-transition: all 0.4s ease 0s*/
  /*-moz-transition: all 0.4s ease 0s*/
  /*-ms-transition: all 0.4s ease 0s*/
  /*-o-transition: all 0.4s ease 0s*/
  /*transition: all 0.4s ease 0s*/

.sidebar-nav
  position: absolute
  top: 0
  width: 250px
  margin: 0
  padding: 0
  list-style: none
  li
    text-indent: 20px
    line-height: 40px
    a
      display: block
      text-decoration: none
      color: #999
      &:hover
        text-decoration: none
        color: #fff
        background: rgba(255, 255, 255, 0.2)
      &:active, &:focus
        text-decoration: none
  > .sidebar-brand
    height: 55px
    font-size: 18px
    line-height: 55px
    a
      color: #999
      &:hover
        color: #fff
        background: none

#menu-toggle
  z-index: 1
  position: fixed
  top: 0
  right: 0

#sidebar-wrapper.active
  right: 250px
  width: 250px

.toggle
  margin: 5px 5px 0 0

/* Header*/

.header
  width: 100%
  height: 100%
  background: url('/images/bg.jpg') no-repeat center center scroll

.about, .services, #menu
  padding: 50px 0

#menu
  a
    color: #000
  ul
    padding 0
    list-style none

/* Services*/

.service-item
  margin-bottom: 30px
  a
    color: #fff
    text-decoration: underline
  img
    width: 96px
    margin: 7px 8px 9px

/* Callout*/

.callout
  display: table
  width: 100%
  height: 400px
  color: #fff
  background: url(../img/callout.jpg) no-repeat center center scroll

/* Portfolio*/

.portfolio
  padding: 50px 0

.portfolio-item
  margin-bottom: 30px

.img-portfolio
  margin: 0 auto
  &:hover
    opacity: 0.8

/* Call to Action*/

.call-to-action
  padding: 50px 0
  .btn
    margin: 10px

/* Map*/

.map
  height: 500px

@media (max-width: 768px)
  .map
    height: 75%

/* Footer*/

div.footer
  padding: 100px 0

a
  img
    border: none


@css {
  .text-vertical-center .background {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000')
  }
}

@css {
  .btn-dark {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000')
  }
}

@css {
  .btn-dart:hover, .btn-dart:focus, .btn-dart:active {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b2000000', endColorstr='#b2000000')
  }
}
